@page "/People"
@using KubeLearn.Web.Data
@using KubeLearn.Shared
@using Microsoft.VisualBasic
@inject PersonService  peopleService
<PageTitle>People Manager</PageTitle>
<h3>People</h3>
<a href="/AddPerson">Add Person</a>
@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td><a href="@person.Id">@person.FirstName</a></td>
                    <td>@person.LastName</td>
                  
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? people;
    protected override async Task OnInitializedAsync()
    {
        people = await peopleService.GetPeople();
    }
}